/* Обнуление */
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
body{
	height: 100%;
	line-height: 1;
}
body{
	font-family: CircularStd,sans-serif;
	min-height: 100%;
     background-color: #fff;
	font-size: 16px;
	font-weight: 700;
	color: #1d3a2a;
}
/*-------------------------------------------------------------------*/
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*="__container"]{
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 15px;
}
/*TABLET*/
@media(max-width: 991px){
    [class*="__container"]{
    	max-width: 800px;
    }
}
/*MOBILE*/
@media(max-width: 767px){
	[class*="__container"]{
    	max-width:none;
    }
}
/*-------------------------------------------------------------------*/
.header__container{
	display: flex;
     width: 100%;
     height: 100%;
     min-height: 80px;
     margin-right: auto;
     margin-left: auto;
     background-color: #fff;
     position: relative;
} 
.navigation-left{
	display: flex;
	width: 20%;
	align-items: center;
	margin-left: 20px;
}
.navigation-logo{
	width: 150px;
}
.navigation-right{
	display: flex;
     width: 80%;
     justify-content: flex-end;
}
.collection-list-nav{
	float:right;
}
.navigation{
	position:relative;
     left: 0;
     top: 0;
     right: 0;
     bottom: auto;
     padding-top: 15px;
     padding-bottom: 15px;
     z-index: 9999;
     display: flex;
     padding-left: 3%;
     flex-direction: column;
     align-items: center;
     border-bottom: 1px solid rgba(29,58,42,.15);
     object-fit: fill;
}
.nav-menu{
	position: static;
   	display: flex;
    	float: right;
}
.list-item{
	display: inline-block;
}
.navigation-link{
	display: inline-block;
	margin-top: 10px;
    	margin-left: 10px;
    	padding: 20px 12px;
}
a{
	background-color: transparent;
	color: #1d3a2a;
}
.navigation-link:hover{
	cursor: pointer;
	text-decoration: none;
    	color: #226634;
    	opacity:0.8 ;
}
.header-icons{
	padding-bottom: 10px;
	margin-left: 10px;
	margin-top: 0px;
	height: 35px;
}
/*ADAPTIVE-NAV----------------------------------------------------*/
@media(max-width: 991px){
    [class*="__container"]{
    }
}
/*-----------------------------------------------------------------*/
.background-video{
	width: 100%;
	height: 900px;
	border-left: none;
	border-right: none;
	position: relative;
	padding: 0px;
	margin: 0px;
}
.background-video__container{
	position: absolute;
	max-width: none;
	top: 0;
	left:0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.video{
    position: absolute;
    z-index: -1;
    width: 100%;
}
/*-----------------------------------------------------------------*/
.health-pets__container{
	margin-top: 100px;
}
.health-pets_content{
	display: flex;
	margin: 30px 30px;
}
.health-pets-decor{
	position: absolute;
     z-index: 0;
     margin-top: 24px;
     margin-left: 22px;
}
.health-pets_img{
	width: 50%;
}
.health-pets_img img{
     vertical-align: middle;
     display: inline-block;
     max-width: 100%;
     vertical-align: middle;
}
.health-pets_block-text{
	width: 50%;
	padding: 0px 30px;
}
h1 {
	margin-top: 50px;
	margin-bottom: 10px;
     font-size: 3rem;
     line-height: 4rem;
     font-weight: 700;
}
p{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #575757;
    font-size: 18px;
    line-height: 1.8rem;
    font-weight:540;
}
.block-text{
}
.health-pets_buttons-items{
	display: flex;
}
.arrow{
	display: flex;
	align-items: center;
}
.button-item{
	display: flex;
     min-height: 62px;
     width: 100%;
     margin: 10px;
     padding-right: 39px;
     padding-left: 39px;
     justify-content: space-between;
     align-items: center;
     border-radius: 60px;
     background-color: #1d3a2a;
     color: #fff;
     font-size: 18px;
     font-weight: 700;
     text-align: center;
     text-decoration: none;

}
.button-item:hover{
	opacity: 0.9;
	transform: scale(1.1);
}
/*-----------------------------------------------------------------*/
.ingredients{
	height:600px ;
	margin: 100px 0 50px 0;	
}
.ingredients__container{
	max-width: none;
	padding: 0px;
}
.ingredients_block{
	display: flex;
	position: relative;
     height: 380px;
     margin: 100px 120px;
     align-items: center;
     background-color: rgba(29,58,42,.1);
}
.ingredients_block-1{
	margin-left:70px;
	margin-right: 90px;
	height: auto;
	width: 300px;
	text-align: left;
}
.title-pade{
}
.title-ingredients{
	display: inline-block;
	font-size: 32px;
	margin: 10px;
	height: 50px;
}
.ingredients_block-2{
	padding: 20px 30px;
	padding-bottom: 15px;
	background-color: #fff;
	height: auto;
	width: 450px;
	text-align: left;
	box-shadow: 0 1px 17px 6px rgb(29 58 42 / 8%);
}
.icon{
	display: inline-block;
	width: 100px;
     height: 65px;
     max-height: 100px;
     max-width: 100px;
     min-width: 100px;
     justify-content: center;
     align-items: center;
}
.item-ingredients{
	margin: 0;
}
.block-text-ingredients{
}
.ingredients_block-3{
	position: relative;
	left: 200px;
	bottom: 180px;
	padding: 20px 30px;
	padding-bottom: 0;
	background-color: #fff;
	height: auto;
	width: 400px;
	text-align: left;
	box-shadow: 0 1px 17px 6px rgb(29 58 42 / 8%);
}
.ingredients_block-4{
	position: relative;
	right: 180px;
	top: 150px;
	padding: 20px 30px;
	margin-bottom: 20px;
	background-color: #fff;
	height: auto;
	width: 450px;
	text-align: left;
	box-shadow: 0 1px 17px 6px rgb(29, 58, 42, 8%);
}
/*-----------------------------------------------------------------*/
.our-ingredients{
	background-image: url(https://uploads-ssl.webflow.com/617ad8e90ecd3d046a6603dd/618c00264f9e7ed13bfd5f8f_monster_pet_food_bg_1.jpg);
	background-position: 50% 50%;
     background-size: cover;
     background-attachment: scroll;
     margin-top: 150px;
     height: 520px;
}
.heading_our-ingredients{
	margin-top: 0;
     margin-bottom: 32px;
     color: #fff;
     font-size: 4rem;
     line-height: 4.4rem;
}
.our-ingredients_block{
	display: block;
	align-content: center;
	height: auto;
	position: relative;
	top: 150px;
	left: 450px;
}
.our-ingredients_button{
	display: flex;
	align-items: center;
	min-height: 62px;
     margin: 10px;
     margin-left: 150px;
     width: 250px;
     padding-right: 39px;
     padding-left: 39px;
     font-size: 18px;
}
/*-----------------------------------------------------------------*/
.dog-products{
	margin:150px 0;
}
.products_block{
	padding: 0 22px;
	margin: 0 152px;
}
.heading{
	color: #1d3a2a;
     font-size: 2rem;
     line-height: 1.9rem;
     font-weight: 700;
     margin-top: 0;
     margin-bottom: 35px;
}
.dog-products_collection{
	width: 100%;
	display:inline-block;
}
.collection-items{
	display: flex;	
	flex-wrap: wrap;
	column-gap: 30px;
}
.collection-item{
	box-shadow: 0 1px 3px 0 rgb(29 58 42 / 24%);
	overflow: hidden;
     border-radius: 4px;
     color: #1d3a2a;
}
.collection-item:hover{
	transform: scale(1.1);
	transition-duration: 0.5s;
}
.product-image{
	width: 365.33px;
	height: 365.33px;
}
.product-card-image{
	overflow: hidden;
     max-height: 360px;
     background-color: #f6f5f2;
     object-fit: fill
}
.product-card-text{
	position: relative;
     min-height: 150px;
     padding: 20px;
}
.product-card-name{
	font-size: 18px;
     font-weight: 700;
     text-decoration: none;
}
.product-card-cta{
	display: flex;
	position: absolute;
     bottom: 1rem;
     align-items: center;
     color: #1d3a2a;
}
.text-block{
	margin-right: 10px;
     font-weight: 700;
}
/*-----------------------------------------------------------------*/
.cat-products{
	margin-bottom: 50px;
}
/*-----------------------------------------------------------------*/
.footer{
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
	margin-top: 10px;
	padding-top: 30px; 
}
.footer_container{
	margin: 0 152px;
	padding: 0 22px;
}
.footer_layout-grid{
	display: grid;
     grid-auto-columns: 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: auto auto;
     grid-row-gap: 16px;
     grid-column-gap: 16px;
}
.footer-logo{
	max-width: 200px;
}
.social-icons{
	margin-top: 40px; 
	margin-right: 20px;
     max-width: 100%;
     display: inline-block;
}
.footer-heading {
    margin-top: 0;
    margin-bottom: 40px;
}
.footer-item {
    margin-top: 20px;
}
.footer-link {
    font-size: 16px;
    font-weight: 550;
    line-height: 25px;
}
.link{
}
.link: hover{
    background-color: transparent;
    color: #1d3a2a;
    text-decoration: none;
}
.list-item{
	margin-top: 20px;
}
h3{
	color: #123729;
     font-size: 1.5rem;
     line-height: 1.9rem;
     font-weight: 700;
}
.divider{
	width: 100%;
     height: 1px;
     margin-top: 6px;
     background-color: rgba(0,0,0,.1);
}
.copyright-block{
	display: flex;
     padding-top: 30px;
     padding-bottom: 30px;
}
.copyright-block .block-text{
	font-size: 16px;
     font-weight: 400;
     line-height: 24px;
}